* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  /* font-family: 'RocknRoll One', sans-serif; */
  font-family: 'Orbitron', sans-serif;;
}

.display_none {
  display: none;
}

#login {
  width: 300px;
  height: 350px;
  background-color: #F52756;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
  border: 10px double black;
  padding: 30px;
}
#login > h4 {
  font-size: 30px;
  color: black;
  font-family: 'Orbitron', sans-serif;
}
#btn {
  font-size: 40px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  border: 5px solid black;
  background-color: black;
  border-radius: 5px;
  padding: 0px 20px;
  font-family: 'Orbitron', sans-serif;
}
#btn:hover {
  color: black;
  border: 5px solid black;
  background-color: #F52756;
}

.hero {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.hero_scroll {
  width: 90%;
  height: 90%;
  position: relative;
  animation-name: resize;
  animation-duration: 8s;
  background: url('desktop.png');
}
@keyframes resize {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 90%;
    height: 90%;
  }
}

.content_left {
  width: 40%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  animation-name: content_resize_left;
  animation-duration: 6s;
  border: 1px solid black;
  border-radius: 5px;
}
@keyframes content_resize_left {
  0% {
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 40%;
    height: 20%;
  }
}

.content_back_left {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 3%;
  top: 5%;
  border: 1px solid black;
  border-radius: 5px;
  animation-name: content_back_resize_left;
  animation-duration: 6s;
}
@keyframes content_back_resize_left {
  0% {
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 60%;
    height: 80%;
    z-index: 0;
  }
}

.mac_top {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.mac_bot {
  width: 100%;
  height: calc(100% - 40px);
  background-color: black;
  padding: 30px;
}

.content_right {
  width: 35%;
  height: 45%;
  position: absolute;
  right: 10%;
  bottom: 2%;
  border: 1px solid black;
  border-radius: 5px;
  animation-name: content_resize_right;
  animation-duration: 8s;
}
@keyframes content_resize_right {
    0% {
      width: 0px;
      height: 0px;
      rigth: 20%;
      bottom: 50%;
    }
    100% {
      width: 35%;
      height: 45%;
    }
}

.red, .yellow, .green{
  font-size: 12px;
  margin-left: 10px;
}
.red_animate, .yellow_animate, .green_animate{
  font-size: 12px;
  margin-left: 10px;
  animation-name: popUp;
  animation-duration: 6s;
}
.red {
  color: #FF6052;
} 
.red:hover {
 color: #C64339;
}
.yellow {
  color: #FFBE05;
}
.yellow:hover {
  color: #C49209;
}
.green {
  color: #17CC36;
}
.green:hover {
  color: #16932B;
}
@keyframes popUp {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 12px;
  }
}
.presentation {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 50px;
  animation-name: popUpH1;
  animation-duration: 2s;
}
h3 {
  color: white;
  font-size: 28px;
  animation-name: popUpH3;
  animation-duration: 2s;
}
@keyframes popUpH1 {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 50px;
  }
}
@keyframes popUpH3 {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 28px;
  }
}

p {
  color: white;
  font-size: 16px;
}

h4 {
  color: white;
  margin-bottom: 10px;
}
ul {
  list-style: none;
}
li {
  font-size: 200%;
  color: white;
  margin-bottom: 15px;
  margin-left: 15px;
}
li > i {
  font-size: 50px;
  margin-left: 20px;
}
@keyframes popUpLI {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 20px;
  }
}

.contact {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 350px;
  height: 80px;
  padding: 15px;
  background-color: black;
  border-radius: 5px;
}
.contact:hover {
  cursor: pointer;
  color: tomato;
}
.img_trigger {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('me.jpeg');
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
.contact > h6 {
  font-size: 15px;
  color: white;
  display: inline-block;
}
@keyframes popUpInfoBox {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 80px;
  }
}
.contact_view {
  width: 70%;
  height: 85%;
  position: absolute;
  left: 22%;
  top: 3%;
  border: 1px solid black;
  border-radius: 5px;
}
.photo {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 8%;
  top: 12%;
  border: 1px solid white;
  background-image: url("me.jpeg");
  background-size: cover;
  background-position: center;
}
.info_box {
  color: white;
  font-size: 45px;
}
.info_box h6 {
  margin: 15px 0px;
}
.info_box a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.info_box p {
  font-size: 50px;
  margin-top: 65px;
  margin-bottom: 10px;
  text-align: center;
}
#linkedin {
  font-size: 40px;
}
#linkedin:hover {
  color: #0B65C2;
}
#github {
  font-size: 40px;
}
#github:hover {
  color: #E54B20;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 5px;
}
#footer_p {
  font-size: 15px;
  text-align: right;
}

audio {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
}
#music_label {
  text-align: center;
  font-size: 18px;
}

.colorHTML {
  color: #E54B20;
}
.colorCSS {
  color: #264DE4;
}
.colorSASS {
  color: #CE649A;
}
.colorJS {
  color: #F7E017;
}
.colorVUE {
  color: #3FB984;
}
.colorPHP {
  color: #787CB4;
}
.colorLARAVEL {
  color: #FF2C1F;
}



